@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(219,219,219); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@layer components {
    .wrapper {
        max-width: 1300px;
        margin: 0 auto;
        overflow: hidden;
    }
    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

